In [1]:
import pandas as pd

data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
        'Age':[27, 24, 22, 32],
        'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']}

df = pd.DataFrame(data)

data["rank"] = [3,2,1,4]

df

df.to_excel("edited.xlsx")

     Name  Age    Address Qualification
0     Jai   27      Delhi           Msc
1  Princi   24     Kanpur            MA
2  Gaurav   22  Allahabad           MCA
3    Anuj   32    Kannauj           Phd

In [3]:
df = pd.read_excel("edited.xlsx")
df["rank"] = [3,2,1,4]
df
# df.to_excel("edited.xlsx")

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,Name,Age,Address,Qualification,rank
0,0,0,0,Jai,27,Delhi,Msc,3
1,1,1,1,Princi,24,Kanpur,MA,2
2,2,2,2,Gaurav,22,Allahabad,MCA,1
3,3,3,3,Anuj,32,Kannauj,Phd,4